name: Build ESP32-S3

on:
  push:
    branches: [ main, master ]
  workflow_dispatch: 

jobs:
  build_firmware:
    runs-on: ubuntu-latest
    container: espressif/idf:release-v5.1

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Fix Files
      shell: bash
      run: |
        git config --global --add safe.directory /__w/esp32-wifi-penetration-tool/esp32-wifi-penetration-tool
        
        # 逐个生成 CMakeLists，不使用任何循环，防止语法冲突
        echo 'idf_component_register(SRC_DIRS "." INCLUDE_DIRS "." "interface" REQUIRES esp_wifi esp_event lwip esp_timer esp_http_server nvs_flash)' > components/wifi_controller/CMakeLists.txt
        echo 'idf_component_register(SRC_DIRS "." INCLUDE_DIRS "." "interface" REQUIRES esp_wifi esp_event lwip esp_timer esp_http_server nvs_flash)' > components/frame_analyzer/CMakeLists.txt
        echo 'idf_component_register(SRC_DIRS "." INCLUDE_DIRS "." "interface" REQUIRES esp_wifi esp_event lwip esp_timer esp_http_server nvs_flash)' > components/webserver/CMakeLists.txt
        echo 'idf_component_register(SRC_DIRS "." INCLUDE_DIRS "." "interface" REQUIRES esp_wifi esp_event lwip esp_timer esp_http_server nvs_flash)' > components/pcap_serializer/CMakeLists.txt
        echo 'idf_component_register(SRC_DIRS "." INCLUDE_DIRS "." "interface" REQUIRES esp_wifi esp_event lwip esp_timer esp_http_server nvs_flash)' > components/hccapx_serializer/CMakeLists.txt

        # 重写 Main 路径
        echo 'idf_component_register(SRC_DIRS "." INCLUDE_DIRS "." "../components/wifi_controller" "../components/wifi_controller/interface" "../components/frame_analyzer" "../components/frame_analyzer/interface" "../components/webserver" "../components/webserver/interface" "../components/pcap_serializer" "../components/hccapx_serializer" REQUIRES esp_wifi esp_event lwip esp_http_server esp_timer nvs_flash wifi_controller frame_analyzer webserver pcap_serializer hccapx_serializer)' > main/CMakeLists.txt

    - name: Compile
      shell: bash
      run: |
        . $IDF_PATH/export.sh
        idf.py set-target esp32s3
        idf.py build

    - name: Merge
      shell: bash
      run: |
        . $IDF_PATH/export.sh
        # 使用最死板的路径，不使用通配符
        esptool.py --chip esp32s3 merge_bin -o build/final_s3.bin --flash_mode dio --flash_size 4MB 0x0 build/bootloader/bootloader.bin 0x8000 build/partition_table/partition-table.bin 0x10000 build/esp32-wifi-penetration-tool.bin

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: esp32s3-firmware
        path: build/final_s3.bin
